*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(107, 20, 106);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    
    list-style-type: none;
}
.gameContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);


}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: blueviolet;
}
.gameInfo{
    padding: 0 34px;
}
.imgbox img{
    display: none;

}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.btl-0{
    border-bottom: 0;
}